upload_folder: uploads/
output_folder: transcripts/
cuda_wrapper: CUDA_VISIBLE_DEVICES=0
cuda_ld_library_path: LD_LIBRARY_PATH=/usr/local/cuda/targets/x86_64-linux/lib/
speechengine: whisper
speechengine_params: --model small --output_dir transcripts/